*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:  Verdana;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%); 
  color: aliceblue;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
 	 color: white;
	 

}

.container {
  width: 50%;
  margin: 10% auto;
  
}

 .ListItems {
   color: white;
   text-transform: capitalize;
   
 }

 .ListItems p {
  margin-top: 40px; 
  text-align: center;
  padding: 10px 0px;
 }

 .ListItems span {
   display: inline-block;
   text-align: center;
   padding: 15px 0;
   font-size: 20px;
  }
 .ListItems span.title {
   background: #0000004a;
   color:white;
   border: none;
   border-left: 1px solid rgba(0, 195, 255, 0.678);
 }

 .ListItems span.name,form input[type="text"]{
  width: 50%;
 }  

 .ListItems span.age,form input[type="number"] , span.action,form input[type="text"] {
  width: 25%;
 }

  

 .ListItems span.icon {
   color: rgb(136, 15, 15);
   cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;  
   
  }
 .ListItems span.icon:hover{
    color: rgba(255, 0, 0, 0.913);
    transform: scale(2, 2);
}

 form input {
   padding: 15px;
   background:rgba(21, 2, 77, 0.132);  
 }
 
 ::placeholder {
  color: white;
  opacity: 0.5;  
}

 form input{
  margin-top: 30px;
  text-align: center;
  border: none;
  font-size: 15px;
  color: white;
 
  }

 form input[type=text] {
  width: 50%;
  
 }

 form input[type=submit] {
  background: rgb(14, 187, 4);
  color:white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 25%;

 }

 form input[type=submit]:hover{
  background: rgb(17, 233, 6);
 }